<!-------------------------------------------->
 <!--?----------------------SHOPPING_Page-->
 <!-------------------------------------------->
<div class="Shopping" dir="rtl"> 
 <!--*------------------------------------------START-------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <!-------------------------------------------->
  <!--?---------------------------INTRO_Page---->
  <!-------------------------------------------->
  <div class="Intro"> 
    <div class="navbar">
<!-------------------------------------------->
      <nav >
        
        <input type="radio" name="items" id="item1">
        <label for="item1" id="label1"><span class="Item1"><p>كل جديد</p></span></label>
     
<!-------------------------------------------->
    
        <input type="radio" name="items" id="item2">
        <label for="item2" id="label2"><span class="Item2"><p>أحدث الصيحات</p></span></label>
      
<!-------------------------------------------->
      
        <input type="radio" name="items" id="item3">
        <label for="item3" id="label3"><span class="Item3"><p>التسوق</p></span></label>
      
<!-------------------------------------------->
      
        <input type="radio" name="items" id="item4">
        <label for="item4" id="label4"><span class="Item4"><p>عروض الشهر</p></span></label>
      
<!-------------------------------------------->
      <div class="items"></div>
 <!-------------------------------------------->
    </nav>

    <div class="Item5">Logo</div>
    
    </div>
   <div class="box1">
    <div class="T-Shert-intro">
      <img class="Tshert-win" src="./Style/Photos/Hoodie.png" />
    </div>
    <div class="winter">الشتاء</div>
   </div>
   <div class="box2">
    <div class="T-Shert-intro2">
      <img class="Tshert-win2" src="./Style/Photos/Summer.png" />
    </div>
    <div class="summer">الصيف</div>
    <p class="text1">
      تفضلوا بزيارة قسم الأزياء الرجالية واكتشاف أحدث التصميمات والأنماط الرائجة
      <br />
      <br />
    </p>
   </div>
   <div class="text">
    <p class="text-1">
      <br />
      اجعل إطلالتك مميزة
      <br />
    </p>
    <p class="text-2">
      <br />
      اجعل إطلالتك مميزة
      <br />
    </p>
   <p class="text3">

    <br />
    مرحبًا بك في موقعنا الفريد، حيث يتميز بتقديم تشكيلة متنوعة وأنيقة من الملابس. اكتشف أحدث صيحات الموضة والأنماط
    الفريدة
    التي تعكس أذواقك وتلبي احتياجاتك اليومية. نحرص على تقديم تجربة تسوق سهلة وممتعة، حيث يمكنك استكشاف مجموعة متنوعة من
    الملابس ذات الجودة العالية بأسعار مناسبة. اطلع على آخر الوصولات والعروض الحصرية، واجعل إطلالتك دائمًا متألقة مع
    منتجاتنا المميزة.
    <br />
    <br />
    <br />
   </p>
  </div>
   <div class="Icon">
    <div class="contacts">

      <a href="#" target="_blank">
        <div class="instgram"  alt="Instagram" id="insta">
          <img class="instgram2" src="./Style/ICON/ins2.png"/>
        </div>
      </a>

      <a href="#" target="_blank" id="whats">
        <div class="whatsapp" alt="WhatsApp" id="whats">
           <img class="whatsapp2" src="./Style/ICON/wha2.png"/>
        </div>
      </a>

      <a href="#" target="_blank">
        <div class="facebook"  alt="Facebook" id="face">
          <img class="facebook2" src="./Style/ICON/fac2.png"/>
        </div>
      </a>
    </div> 
    <div class="shop">
      <a  href="#" target="_blank" id="shop">
        <div class="shop-button">
          <div class="rectangle-1"></div>
          <div class="rectangle-2"></div>
          <p class="text4">تسوق</p>
        </div>
      </a>
    </div>
    
    <div class="Featured"></div>
   </div>
  </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?----------------------STATISTICS_Page---->
  <!-------------------------------------------->
   <div class="SAT">
    <p class="h">احصائيات</p>
    <p class="a">1000 الف</p>
    <p class="b">عدد الزيارات للموقع</p>
    <p class="c">750</p>
    <p class="d">اجمالي المبيعات</p>
    <p class="e">688</p>
    <p class="f">استطلاعات رضا العملاء</p>
  
   </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?-------------------------ALL_NEW_Page---->
  <!-------------------------------------------->
   <div class="New-Arrivals-Section" id="New-Arrivals-Section">
<!---start--------------------------Sec-Nam---->
    <div class="Sec-Nam">
      <input type="button" name="tab" id="Right" onclick="scrollProductsRight()">
      <label for="Right">
      <img class="Right" src="./Style/ICON/ArrowRight.png" />
      </label>
      <input type="button" name="tab" id="Left" onclick="scrollProductsLeft()">
      <label for="Left">
      <img class="Left" src="./Style/ICON/ArrowLeft.png" />
      </label>
      <div class="REC1"></div>
      <p class="Text5">كل جديد</p>
    </div>
<!---end--------------------------Sec-Nam---->
<div class="Products" id="productsContainer"><!--!-strat--------Products-->
<!---start------------------------------Product1---->
     <div class="product" >
      <div class="line4"></div>
      <div class="Product-Name">هودي رجالي</div>
      <div class="Price" dir="ltr">
        <p>350 L.E</p>
      </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png" >
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
        <input type="button">
        <label for="oval">
          <div class="oval">
            <img class="CA" src="./Style/ICON/cart.png">
          </div>
        </label>
        </div>
     </div>
     <!---end------------------------------Product1----->
     <!---start------------------------------Product2---->
    <div class="product">
      <div class="line4"></div>
      <div class="Product-Name">تيشرت رجالي</div>
      <div class="Price" dir="ltr">
        <p>450 L.E</p>
        
      </div>
      <div class="Fram">
        <div class="ImageContainer">
          <img class="img-prodct"  src="./Style/Photos/PR-2.jpeg" >
        </div>
      </div>
      <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
        <input type="button">
        <label for="oval">
          <div class="oval">
            <img class="CA" src="./Style/ICON/cart.png">
          </div>
        </label>
      </div>
    </div>
    <!---end------------------------------Product2----->
    <!---start------------------------------Product3---->
    <div class="product">
      <div class="line4"></div>
      <div class="Product-Name">بلوفر رجالي</div>
      <div class="Price" dir="ltr">
        <p>150 L.E</p>
      </div>
      <div class="Fram">
        <div class="ImageContainer">
          <img class="img-prodct" src="./Style/Photos/PR-3.jpeg" >
        </div>
      </div>
      <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
        <input type="button">
        <label for="oval">
          <div class="oval">
            <img class="CA" src="./Style/ICON/cart.png">
          </div>
        </label>
      </div>
    </div>
    <!---end------------------------------Product3----->
    <!---start------------------------------Product4---->
    <div class="product">
      <div class="line4"></div>
      <div class="Product-Name">بنطلون رجالي</div>
      <div class="Price" dir="ltr">
        <p>550 L.E</p>
      </div>
      <div class="Fram">
        <div class="ImageContainer">
          <img  class="img-prodct" src="./Style/Photos/PR-2.jpeg" >
        </div>
      </div>
      <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
        <input type="button">
        <label for="oval">
          <div class="oval">
          <img class="CA" src="./Style/ICON/cart.png">
          </div>
        </label>
      </div>
    </div>
    <!---end------------------------------Product4----->
    <!---start------------------------------Product5---->
    <div class="product">
      <div class="line4"></div>
      <div class="Product-Name">هودي اوفرسيز</div>
      <div class="Price" dir="ltr">
        <p>250 L.E</p>
      </div>
      <div class="Fram">
        <div class="ImageContainer">
          <img  class="img-prodct"  src="./Style/Photos/PR-1.png" >
        </div>
      </div>
      <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
        <input type="button">
        <label for="oval">
          <div class="oval">
            <img class="CA" src="./Style/ICON/cart.png">
          </div>
        </label>
      </div>
    </div>
    <!---end------------------------------Product5----->
    </div><!--!-end--------Products-->
   </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?---------------------------------LINE---->
  <!-------------------------------------------->
   <div class="Line1"></div>
   <div class="Line2"></div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?--------------------------Trendy_Page---->
  <!-------------------------------------------->
  <div class="New-Trendy-Section" id="Trendy-Page">
    <!---start--------------------------Sec-Nam---->
    <div class="Sec-Nam">
      <input type="button" name="tab" id="Right2" onclick="scrollProducts2Right()">
      <label for="Right2">
        <img class="Right" src="./Style/ICON/ArrowRight.png" />
      </label>
      <input type="button" name="tab" id="Left2" onclick="scrollProducts2Left()">
      <label for="Left2">
        <img class="Left" src="./Style/ICON/ArrowLeft.png" />
      </label>
      <div class="REC1"></div>
      <p class="Text5">أحدث الصيحات</p>
    </div>
    <!---end--------------------------Sec-Nam---->
    <div class="Products" id="productsContainer2"><!--!-strat--------Products-->
      <!---start------------------------------Product1---->
      <div class="product">
        <div class="line4"></div>
        <div class="Product-Name">هودي رجالي</div>
        <div class="Price" dir="ltr">
          <p>350 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
      </div>
      <!---end------------------------------Product1----->
      <!---start------------------------------Product2---->
      <div class="product">
        <div class="line4"></div>
        <div class="Product-Name">تيشرت رجالي</div>
        <div class="Price" dir="ltr">
          <p>450 L.E</p>
  
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
      </div>
      <!---end------------------------------Product2----->
      <!---start------------------------------Product3---->
      <div class="product">
        <div class="line4"></div>
        <div class="Product-Name">بلوفر رجالي</div>
        <div class="Price" dir="ltr">
          <p>150 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-3.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
      </div>
      <!---end------------------------------Product3----->
      <!---start------------------------------Product4---->
      <div class="product">
        <div class="line4"></div>
        <div class="Product-Name">بنطلون رجالي</div>
        <div class="Price" dir="ltr">
          <p>550 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
      </div>
      <!---end------------------------------Product4----->
      <!---start------------------------------Product5---->
      <div class="product">
        <div class="line4"></div>
        <div class="Product-Name">هودي اوفرسيز</div>
        <div class="Price" dir="ltr">
          <p>250 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
      </div>
      <!---end------------------------------Product5----->
    </div><!--!-end--------Products-->
  </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?-------------------Deals_of_the_month---->
  <!-------------------------------------------->
  <div class="Deals-OF-month" id="Deals-OF-Month">
    <div class="Fram-Offer">
      <div>
        <div class="Rec60" style="background-image: url('./Style/Photos/PR-0.png')"></div>
        <div class="Rec70" style="background-image: url('./Style/Photos/PR-0.png')"></div>
      </div>
      
      
      <div class="More-products">
         
        <div class="PR-s" style="background-image: url('./Style/Photos/PR-2.jpeg')"></div>
        <div class="PR-s" style="background-image: url('./Style/Photos/PR-3.jpeg')"></div>

        <div class="PR-More">
          <a href="#" target="_blank">
            <img class="Group" src="./Style/ICON/Vector.png" id="vec">
            </a>
        </div>

      </div>
      <a href="#" target="_blank" id="buy-n" onclick="buyProduct(document.getElementById('productImage').src);">
        <div class="Buy-Naw-button">
          <div class="rectangle-1">
          </div>
          <div class="rectangle-2">
          </div>
          <p class="text4">اشتري الان</p>
        </div>
      </a>
    </div>
<p class="H1">عرض الشهر</p>
<p class="TX1">افضل المبيعات</p>
<p class="TX2" id="PR01">هودي  بطبعة اونلاين رقبة برباط - للرجال</p>
<p class="TX2" id="PR02">بنطلون  بطبعة اونلاين رقبة برباط - للرجال</p>
<p class="TX2" id="PR03">سويت شيرت بطبعة اونلاين رقبة برباط - للرجال</p>
<p class="TX3">
  مما يسمح لك بضبطها وفقًا لتفضيلاتك. مصنوع من مواد عالية الجودة توفر راحة فائقة ومتانة طويلة الأمد. يمكن ارتداؤه في
  الأوقات الباردة كقطعة أنيقة ودافئة، سواءً كان ذلك للنشاطات الرياضية أو للإطلالات اليومية. إضافة رائعة لمجموعة ملابسك
  تضمن الأناقة والراحة
</p>
<div class="descount" dir="ltr">
  <p class="after" id="PR01">300 L.E</p>
  <p class="after" id="PR02">200 L.E</p>
  <p class="after" id="PR03">500 L.E</p>
  <span class="LI"></span>
  <p class="befor" id="PR01">850 L.E</p>
  <p class="befor" id="PR02">750 L.E</p>
  <p class="befor" id="PR03">950 L.E</p>
</div>

  <div class="countdown-container" dir="rtl">
    <div><span class="countdown-item" id="days"></span>
      <p>ايام</p>
    </div>
    <div><span class="countdown-item" id="hours"></span>
      <p>ساعات</p>
    </div>
    <div><span class="countdown-item" id="minutes"></span>
      <p>دقيقة</p>
    </div>
    <div><span class="countdown-item" id="seconds"></span>
      <p>ثانية</p>
    </div>
  </div>
  </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?-----------------------Instagram_page---->
  <!-------------------------------------------->
  <div class="Instagram-page">
    <div class="Sec-Nam">
      <div class="REC1"></div>
      <p class="Text5"> صفحة الإنستجرام الخاصة بنا</p>
    </div>
  <div class="ALL-FAR">
    <div class="FRA1">
    <img src="./Style/Photos/FRA1.jpeg">
    </div>
    <div class="FRA2">
    <img src="./Style/Photos/FAR2.jpeg">
    </div>
    <div class="FRA3">
    <img src="./Style/Photos/FAR3.jpeg">
    </div>
    <div class="FRA4">
    <img src="./Style/Photos/FAR4.jpeg">
    </div>
    <div class="FRA5">
    <img src="./Style/Photos/FAR5.jpeg">
    </div>
  </div>

  </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?-----------------------Review_Section---->
  <!-------------------------------------------->
   <div class="Review-Section">
    <h1>أراء العملاء</h1>
    <p class="P-TX">مما يسمح لك بضبطها وفقًا لتفضيلاتك. مصنوع من مواد عالية الجودة توفر راحة فائقة ومتانة طويلة الأمد. يمكن ارتداؤه في
    الأوقات الباردة كقطعة أنيقة ودافئة، سواءً كان ذلك للنشاطات الرياضية أو للإطلالات اليومية. إضافة رائعة لمجموعة ملابسك
    تضمن الأناقة والراحة</p>
    <div class="Sec-Nam">
      <input type="button" name="tab" id="Righ3" onclick="scrollCommentRight()">
      <label for="Righ3">
        <img class="Right" src="./Style/ICON/ArrowRight.png" />
      </label>
      <input type="button" name="tab" id="Lef3" onclick="scrollCommentLeft()">
      <label for="Lef3">
        <img class="Left" src="./Style/ICON/ArrowLeft.png" />
      </label>
    </div>
    <div class="Comment2" id="Comment2">
      <div class="COM1" id="COM">
         <span class="COM-CER1" id="CER">
         <img src="./Style/Photos/FRA1.jpeg" alt="">
         </span>
         <p>تجربة التسوق دي كانت فوق الوصف! اشتريت ملابس من الموقع ده وعجبني جدًا. الطلب وصل بسرعة، والملابس اللي جبتها كانت زي اللي
        في الصور بالظبط، والخامة كويسة. الموقع سهل الاستخدام، والخدمة العملاء متعاونة. أنا راضي تمامًا، وهستمر في التسوق من هنا.
        يا ريت كل المواقع تكون زي كدا!</p>
        <p class="P1">-John Doe</p>
      </div>
      <div class="COM2" id="COM">
         <span class="COM-CER2" id="CER">
          <img src="./Style/Photos/FAR2.jpeg" alt="">
         </span>
        <p>تجربة التسوق دي كانت فوق الوصف! اشتريت ملابس من الموقع ده وعجبني جدًا. الطلب وصل بسرعة، والملابس اللي جبتها كانت زي اللي
        في الصور بالظبط، والخامة كويسة. الموقع سهل الاستخدام، والخدمة العملاء متعاونة. أنا راضي تمامًا، وهستمر في التسوق من هنا.
        يا ريت كل المواقع تكون زي كدا!</p>
        <p class="P1">-John Doe</p>
      </div>
      <div class="COM3" id="COM">
         <span class="COM-CER3" id="CER">
          <img src="./Style/Photos/FAR3.jpeg" alt="">
         </span>
        <p>تجربة التسوق دي كانت فوق الوصف! اشتريت ملابس من الموقع ده وعجبني جدًا. الطلب وصل بسرعة، والملابس اللي جبتها كانت زي اللي
        في الصور بالظبط، والخامة كويسة. الموقع سهل الاستخدام، والخدمة العملاء متعاونة. أنا راضي تمامًا، وهستمر في التسوق من هنا.
        يا ريت كل المواقع تكون زي كدا!</p>
        <p class="P1">-John Doe</p>
      </div>
      <div class="COM4" id="COM">
         <span class="COM-CER4" id="CER">
          <img src="./Style/Photos/FAR4.jpeg" alt="">
         </span>
        <p>تجربة التسوق دي كانت فوق الوصف! اشتريت ملابس من الموقع ده وعجبني جدًا. الطلب وصل بسرعة، والملابس اللي جبتها كانت زي اللي
        في الصور بالظبط، والخامة كويسة. الموقع سهل الاستخدام، والخدمة العملاء متعاونة. أنا راضي تمامًا، وهستمر في التسوق من هنا.
        يا ريت كل المواقع تكون زي كدا!</p>
        <p class="P1">-John Doe</p>
      </div>
      <div class="COM5" id="COM">
         <span class="COM-CER5" id="CER">
          <img src="./Style/Photos/FAR5.jpeg" alt="">
         </span>
        <p>تجربة التسوق دي كانت فوق الوصف! اشتريت ملابس من الموقع ده وعجبني جدًا. الطلب وصل بسرعة، والملابس اللي جبتها كانت زي اللي
        في الصور بالظبط، والخامة كويسة. الموقع سهل الاستخدام، والخدمة العملاء متعاونة. أنا راضي تمامًا، وهستمر في التسوق من هنا.
        يا ريت كل المواقع تكون زي كدا!</p>
        <p class="P1">-John Doe</p>
      </div>
      
    </div>
    
   </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?-----------------Our_Products_Section---->
  <!-------------------------------------------->
  <div class="Our-Products-Section" id="OurProducts">

       <div class="Sec-Nam">
        <input type="button" name="tab" id="Right3" onclick="scrollProductsRight3()">
        <label for="Right3">
          <img class="Right" src="./Style/ICON/ArrowRight.png" />
        </label>
        <input type="button" name="tab" id="Left3" onclick="scrollProductsLeft3()">
        <label for="Left3">
          <img class="Left" src="./Style/ICON/ArrowLeft.png" />
        </label>
      <div class="REC1"></div>
      <p class="Text5">منتجاتنا</p>
       </div>

       <div class="Filters">
    <nav>
      <div  class="ALL1">
        <input type="radio" name="Filter2" id="ALL">
        <label for="ALL" >
          <p>الكل</p>
        </label>
      </div>
      <div class="Fil1">
        <input type="radio" name="Filter2" id="Fil1">
        <label for="Fil1">
          <p>هودي</p>
        </label>
      </div>
      <div  class="Fil2">
        <input type="radio" name="Filter2" id="Fil2">
        <label for="Fil2">
          <p>تيشيرتات</p>
        </label>
      </div>
      <div  class="Fil3">
        <input type="radio" name="Filter2" id="Fil3">
        <label for="Fil3">
          <p>بناطيل</p>
        </label>
      </div>
      <div  class="Fil4">
        <input type="radio" name="Filter2" id="Fil4">
        <label for="Fil4">
          <p>اوفرسيز</p>
        </label>
      </div>
      <div  class="Fil5">
        <input type="radio" name="Filter2" id="Fil5">
        <label for="Fil5">
          <p>بلوفرات</p>
        </label>
      </div>
    </nav>
    <div class="Off">
      <input type="radio" name="Filter2" id="Off">
      <label for="Off">
        <p>العروض</p>
      </label>
    </div>
       </div>

       <div class="PRODUCTS" id="PRODUCTS2232">
       <div class="product" id="Hoodie">
        <div class="line4"></div>
        <div class="Product-Name">هودي رجالي</div>
        <div class="Price" dir="ltr">
          <p>350 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product1----->
      <!---start------------------------------Product2---->
      <div class="product" id="off">
        <div class="line4"></div>
        <div class="Product-Name">تيشرت رجالي</div>
        <div class="Price" dir="ltr" id="PR2">
          <p>315 L.E</p>
        </div>
        <div class="Price2" dir="ltr" >
          <p>450 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
          <div class="Oval-Off"><p>30%</p></div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product2----->
      <!---start------------------------------Product3---->
      <div class="product" id="Plover">
        <div class="line4"></div>
        <div class="Product-Name">بلوفر رجالي</div>
        <div class="Price" dir="ltr">
          <p>150 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-3.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product3----->
      <!---start------------------------------Product4---->
      <div class="product" id="off">
        <div class="line4"></div>
        <div class="Product-Name">بنطلون رجالي</div>
        <div class="Price2" dir="ltr">
          <p>550 L.E</p>
        </div>
        <div class="Price" dir="ltr" id="PR2">
          <p>385 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
          <div class="Oval-Off">
            <p>30%</p>
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product4----->
      <!---start------------------------------Product5---->
      <div class="product" id="Over">
        <div class="line4"></div>
        <div class="Product-Name">هودي اوفرسيز</div>
        <div class="Price" dir="ltr">
          <p>250 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product5----->
      <div class="product" id="off" >
        <div class="line4"></div>
        <div class="Product-Name">هودي رجالي</div>
        <div class="Price2" dir="ltr">
          <p>350 L.E</p>
        </div>
        <div class="Price" dir="ltr" id="PR2">
          <p>245 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        <div class="Oval-Off"><p>30%</p></div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product1----->
      <!---start------------------------------Product2---->
      <div class="product" id="T-shirt">
        <div class="line4"></div>
        <div class="Product-Name">تيشرت رجالي</div>
        <div class="Price" dir="ltr">
          <p>450 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product2----->
      <!---start------------------------------Product3---->
      <div class="product" id="off">
        <div class="line4"></div>
        <div class="Product-Name">بلوفر رجالي</div>
        <div class="Price2" dir="ltr">
          <p>150 L.E</p>
        </div>
        <div class="Price" dir="ltr" id="PR2">
          <p>105 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-3.jpeg">
          </div>
          <div class="Oval-Off"><p>30%</p></div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product3----->
      <!---start------------------------------Product4---->
      <div class="product" id="Trousers">
        <div class="line4"></div>
        <div class="Product-Name">بنطلون رجالي</div>
        <div class="Price" dir="ltr">
          <p>550 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product4----->
      <!---start------------------------------Product5---->
      <div class="product" id="Over">
        <div class="line4"></div>
        <div class="Product-Name">هودي اوفرسيز</div>
        <div class="Price" dir="ltr">
          <p>250 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product5----->
      <div class="product" id="off" >
        <div class="line4"></div>
        <div class="Product-Name">هودي رجالي</div>
        <div class="Price2" dir="ltr">
          <p>350 L.E</p>
        </div>
        <div class="Price" dir="ltr" id="PR2">
          <p>245 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
          <div class="Oval-Off"><p>30%</p></div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product1----->
      <!---start------------------------------Product2---->
      <div class="product" id="T-shirt">
        <div class="line4"></div>
        <div class="Product-Name">تيشرت رجالي</div>
        <div class="Price" dir="ltr">
          <p>450 L.E</p>
      
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product2----->
      <!---start------------------------------Product3---->
      <div class="product" id="Plover">
        <div class="line4"></div>
        <div class="Product-Name">بلوفر رجالي</div>
        <div class="Price" dir="ltr">
          <p>150 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-3.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product3----->
      <!---start------------------------------Product4---->
      <div class="product" id="Trousers">
        <div class="line4"></div>
        <div class="Product-Name">بنطلون رجالي</div>
        <div class="Price" dir="ltr">
          <p>550 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-3.jpeg">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product4----->
      <!---start------------------------------Product4---->
      <div class="product" id="off">
        <div class="line4"></div>
        <div class="Product-Name">بنطلون رجالي</div>
        <div class="Price2" dir="ltr">
          <p>550 L.E</p>
        </div>
        <div class="Price" dir="ltr" id="PR2">
          <p>385 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-2.jpeg">
          </div>
          <div class="Oval-Off"><p>30%</p></div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
        <div class="line4" id="LIN4"></div>
        
        <div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product4----->
      <!---start------------------------------Product5---->
      <div class="product" id="Over">
        <div class="line4"></div>
        <div class="Product-Name">هودي اوفرسيز</div>
        <div class="Price" dir="ltr">
          <p>250 L.E</p>
        </div>
        <div class="Fram">
          <div class="ImageContainer">
            <img class="img-prodct" src="./Style/Photos/PR-1.png">
          </div>
        </div>
        <div class="add-Cart" onclick="openModal(event, this.parentElement.querySelector('.ImageContainer img'))">
          <input type="button">
          <label for="oval">
            <div class="oval">
              <img class="CA" src="./Style/ICON/cart.png">
            </div>
          </label>
        </div>
<div class="Rectangle49"></div>
      </div>
      <!---end------------------------------Product5----->
       </div>

       <div class="Pagination">

       <div class="Component" dir="ltr">
    <input type="radio" name="compo" id="Component" >
    <label for="Component"><p id="buttonNumber">1</p></label>
       </div>

       </div>
  

  </div>
  <!--!----------------------------------------->
  <!-------------------------------------------->
  <!--?------------------------PRODACTS_CART---->
  <!-------------------------------------------->
  <!--todo------------------------------POPUPs---------------------->
  <!---start------------------------------All Product popUp----->
  <div id="overlay" class="overlay" onclick="closeCartPopup()"></div>
  <!-------------------------------------------->
  <div class="cart-btn" onclick="openCartPopup()">
    <input type="button" name="Car" id="Car"  >
    <label for="Cart">
      <img class="Cart" src="./Style/ICON/Cart btn.png">
    </label>
  </div>
  <!-------------------------------------------->
  <div id="cart-popup" class="popup">
    <div class="head" dir="ltr">
      <p>السعر كامل</p>
      <p>الكمية</p>
      <p>السعر</p>
      <p>المنتج</p>
      <div class="L1"></div>
    </div>
    <div class="land" dir="ltr">
      <p id="totalPrice"></p>
      <div class="Button-Pay" onclick="paybutton()">
        <input type="button" id="Pay" value="pay">
        <label for="Pay" class="Pay">
          <p>ادفع</p>
        </label>
      </div>
      <div class="L1"></div>
    </div>
  </div>
  <!---end------------------------------All Product popUp----->
  <!---start------------------------------Product popUp----->
  <div class="modal" id="modal"></div>
    <div id="productModal" class="modalcontent">
      <div id="productDetails">
        <p id="productName"></p>
        <p id="productPrice" dir="ltr"></p>
        <div class="Fram2">
          <div class="ImageContainer2"  id="productImage">
            <img class="img-prodct" src="" alt="pr">
          </div>
        </div>
        <div class="Size-Product">

          <input type="radio" name="tab" id="Small" value="S">
          <label for="Small" class="Small">S</label>

          <input type="radio" name="tab" id="Medium" value="M">
          <label for="Medium" class="Medium">M</label>

          <input type="radio" name="tab" id="Larg" value="L">
          <label for="Larg" class="Larg">L</label>

          <input type="radio" name="tab" id="X-Larg" value="XL">
          <label for="X-Larg" class="X-Larg">XL</label>

        </div>
        <div class="Color-Product">

          <input type="radio"  name="color" id="Purble" value="#5462dc">
          <label for="Purble" >
            <div class="color-pu"></div>
          </label><br>

          <input type="radio"  name="color" id="Pink" value="#cc3ad7">
          <label for="Pink">
          <div class="color-pi"></div>
          </label><br>

          <input type="radio" name="color" id="Red" value="#17D691">
          <label for="Red">
          <div class="color-gr"></div>
          </label><br>
      
        </div>
        <div class="Button-Buy" onclick="buyProduct(document.getElementById('productImage').src);; buyProduct2();">
        <input type="button"  id="Buy" value="buy" >
        <label for="Buy" class="buy">
          <p>اشتري</p>
        </label>
       </div>
       <div class="counter">
        <span class="minus" onclick="decrementProduct()">-</span>
        <input type="text" id="Num" class="num" value="1">
        <span class="plus" onclick="incrementProduct()">+</span>
       </div>
      </div>
    </div>
  <!---end------------------------------Product popUp----->
  <div class="popup-background">
    <div class="navbar">
      <a href="#New-Arrivals-Section" class="Item1" onclick="popNAVbarclose()">كل جديد
        
      </a>
      <br><div class="Rectangle37"></div>
      <br><a href="#Trendy-Page" class="Item2"  onclick="popNAVbarclose()"> أحدث الصيحات </a>
      <br><a href="#OurProducts" class="Item3" onclick="popNAVbarclose()">التسوق </a>
      <br><a href="#Deals-OF-Month" class="Item4" onclick="popNAVbarclose()">عرض الشهر</a>
    
    </div>
    <div class="CONTACT2">
      <a href="#" target="_blank">
        <img src="./Style/ICON/Facebook1.png"  id="facebook"/>
      </a>
      <a href="#" target="_blank">
        <img src="./Style/ICON/Twitter1.png" id="twitter"/>
      </a>
      <a href="#" target="_blank">
        <img src="./Style/ICON/Instagram1.png" id="instagram"/>
      </a>
      <a href="#" target="_blank">
        <img src="./Style/ICON/YouTube1.png" id="youtube"/>
      </a>
      
  
    </div>
   </div>
   <div class="popNAVbar">
     <img src="./Style/ICON/vec.png" onclick="popNAVbar22()">
  
   </div>
   <div class="popNAVbarClose" >
     <img src="./Style/ICON/X.png" onclick="popNAVbarclose()">
   </div>
  <!-------------------------------------------->
  <!--?-------------------------RectangleEND---->
  <!-------------------------------------------->
  <div class="RectangleEND"><p>Powered By: Lorem Ipsuim</p></div>
  <!--!---------------------------------POPUPs------------------->
  <!----------------------------------------------------------------------->
  <!----------------------------------------------------------------------->
  <!----------------------------------------------------------------------->
  <!----------------------------------------------------------------------->
  <!--*--------------------END----------------------------------------------->
   </div>
